@model IEnumerable<HotelsDTO>
@using BookHotel_Frontend.Models.DTOs

<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Hotel List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Hotel" asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Hotel</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>No. of rooms</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.NumberOfRooms</td>
                    <td>Rs.@item.Price</td>
                    <td>
                        <a asp-controller="Hotel" asp-action="Update" asp-route-HotelId="@item.Id" class="btn btn-success">
                            Update
                        </a>
                        <a asp-controller="Hotel" asp-action="Delete" asp-route-HotelId="@item.Id" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
