@model IEnumerable<HotelNoDTO>

<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Villa Number List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="HotelNo" asp-action="Create" class="btn btn-outline-primary">
                <i class="bi bi-plus-square-fill"></i> Create New Villa Number
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Hotel Name</th>
                <th>Hotel Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Hotels.Name</td>
                    <td>@item.HotelNumber</td>
                    <td>
                        <a asp-controller="HotelNo" asp-action="Update" asp-route-villaNo="@item.HotelNumber" class="btn btn-success">
                            Update
                        </a>
                        <a asp-controller="HotelNo" asp-action="Delete" asp-route-villaNo="@item.HotelNumber" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
